table {
  width: 100%;
}

th, td {
  border: 1px solid black;
}

.active {
  border: 1px solid green;
  background-color: rgb(240, 245, 240);
}

.inactive {
  border: 1px solid red;
  background-color: rgb(241, 237, 237);
}

.image-blurred {
  height: 100px;
  width: 100px;
  filter: grayscale(100%);
  /* opacity: 0.2; */
}