.pilt {
  width: 100px;
  /* height: 100px; */
}

.pilt:hover {
  opacity: 0.7;
  cursor: pointer;
}

.nupp {
  border: 2px dotted blue;
}

.nupp:hover {
  cursor: pointer;
  text-decoration: underline;
  border: 2px dotted green;
}

.kuldne {
  color: goldenrod;
}

.tume-leht {
  background-color: black;
  color: white;
  min-height: 100vh; 
  /* vh - ekraani kõrgus, vw - laius */
}

.hele-leht {
  background-color: rgb(247, 249, 250);
  min-height: 100vh;
}

.aktiivne {
  border: 1px solid green;
  background-color: rgb(240, 244, 240);
}

.mitteaktiivne {
  border: 1px solid red;
  background-color: rgb(244, 241, 241);
}